@use '../colors';

// mixin for dark theme using above colors
$theme: (
    color-primary: colors.$red-900,
    color-primary-dark: colors.$red-700,
    color-primary-light: colors.$red-200,
    color-secondary: colors.$green-900,
    color-secondary-dark: colors.$green-700,
    color-secondary-light: colors.$green-200,

    //backgrounds
    color-background-primary: colors.$blue-gray-900,
    color-background-primary-hover: colors.$blue-gray-800,
    color-background-secondary: colors.$blue-gray-800,
    color-background-secondary-hover: colors.$blue-gray-700,
    color-background-tertiary: colors.$blue-gray-500,
    color-background-tertiary-hover: colors.$blue-gray-600,

    //buttons
    color-button-primary: colors.$red-900,
    color-button-primary-hover: colors.$red-700,
    color-button-primary-disabled: colors.$red-200,
    color-button-secondary: colors.$blue-gray-700,
    color-button-secondary-hover: colors.$blue-gray-900,
    color-button-secondary-disabled: colors.$blue-gray-500,

    //texts
    color-text-primary: colors.$blue-gray-100,
    color-text-secondary: colors.$blue-gray-200,
    color-text-tertiary: colors.$blue-gray-700,
    color-text-disabled: colors.$blue-gray-500,
);
