@use '../colors';


// mixin for light theme using above colors
$theme: (
        color-primary: colors.$red-400,
        color-primary-dark: colors.$red-700,
        color-primary-light: colors.$red-200,
        color-secondary: colors.$blue-gray-700,
        color-secondary-dark: colors.$blue-gray-900,
        color-secondary-light: colors.$blue-gray-500
)
