@use '@styles/containers';

.counters-demo {
    @include containers.flex-center(row);
    @include containers.grid-gap(4);
    @include containers.fill-available();

    justify-content: space-evenly;

    background-color: var(--color-background-secondary);

    .demo-label {
        margin-bottom: containers.get-scale(2);
    }
}
