:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 100vh;
}
