.side-menu {
    background-color: #3e3e3e;
    height: 100%;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;

    &.collapsed {
        width: 50px;
        transition: width 0.5s;
    }

    &.expanded {
        width: 200px;
        transition: width 0.5s;
    }

    &.hidden {
        display: none;
    }

    .side-menu-content {
        display: flex;
        flex-direction: column;
        width: 200px;

        .side-menu-item {
          text-align: left;
          transition: background-color 0.3s;

          &:hover {
            background-color: #098660;
            transition: background-color 0.3s;
          }
        }
    }
}
