@use '@styles/fonts';
@use '@styles/containers';
@use '@styles/constants';

.side-menu {
    height: 100%;
    width: constants.$side-menu-width;
    padding-left: containers.get-scale(1);

    background-color: var(--color-background-primary);

    overflow: hidden;

    &.collapsed {
        width: constants.$side-menu-collapsed-width;
        transition: width 0.5s;
    }

    &.expanded {
        width: constants.$side-menu-width;
        transition: width 0.5s;
    }

    &.hidden {
        display: none;
    }

    .side-menu-content {
        @include containers.flex(column);
        @include containers.grid-gap(1);
        width: constants.$side-menu-width;

        .side-menu-item {
            text-align: left;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--color-secondary);
                transition: background-color 0.3s;
            }
        }
    }
}
