@use '@styles/containers';

.button {
    @include containers.rounded();

    border: unset;

    padding: 0;

    background-color: var(--color-button-primary);
    transition: background-color 0.3s;

    cursor: pointer;

    &:hover {
        background-color: var(--color-button-primary-hover);
        transition: background-color 0.3s;
    }

    .button-typo {
        @include containers.padding(1, 2);
    }
}
