@use '@styles/containers';

.button {
    @include containers.rounded();

    border: unset;

    padding: 0;

    background-color: #181818;
    transition: background-color 0.3s;

    cursor: pointer;

    &:hover {
        background-color: #8d3e05;
        transition: background-color 0.3s;
    }

    .button-typo {
        @include containers.padding(1, 2);
    }
}
